<div class="parent-container">
    <div class="example-container">
        <h2>Archived To do</h2>
        <div cdkDropList #activeList="cdkDropList" [cdkDropListData]="activeTasks" [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of activeTasks | slice : startPage:paginationLimitActive" cdkDrag>
                <div>
                    <app-archived-task [item]="item"></app-archived-task>
                </div>
            </div>
        </div>
        <button mat-raised-button *ngIf="paginationLimitActive > 0 " (click)="showMoreItems(true)" class="more-less-button">
            Show More
        </button>
        <button mat-raised-button *ngIf="paginationLimitActive > 2" (click)="showLessItems(true)" class="more-less-button">
            Show Less
        </button>
    </div>
    <div class="example-container">
        <h2>Archived Done</h2>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneTasks" [cdkDropListConnectedTo]="[activeList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of doneTasks | slice : startPage:paginationLimitDone" cdkDrag>
                <div>
                    <app-archived-task [item]="item"></app-archived-task>
                </div>
            </div>
        </div>
        <button mat-raised-button *ngIf="paginationLimitDone > 0" (click)="showMoreItems(false)" class="more-less-button">
            Show More
        </button>
        <button mat-raised-button *ngIf="paginationLimitDone > 2" (click)="showLessItems(false)" class="more-less-button">
            Show Less
        </button>
    </div>
</div>