<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
<div class="container">
    <mat-card class="card">
        <mat-card-title>To-Do</mat-card-title>
        <button mat-raised-button>+</button>
        <mat-card class="task"></mat-card>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>Done</mat-card-title>
        <button mat-raised-button onclick="OnButtonClicked()">+</button>
    </mat-card>
</div>